/.vs
/UWPTempPath
/Library
/*.csproj
/*.sln
/Temp
/obj
/devBuilds
/Assets/~
/Builds
/Assets/MixedRealityToolkit.Generated
/Logs
/Videos
/Assets/MRTK
/Assets/MRTK.meta
/ProjectSettings/EditorBuildSettings.asset
