.vs
/SimpleWebXR-DemoUWPTempPath
/SimpleWebXR-DemoLibrary
*.csproj
*.sln
/SimpleWebXR-Demo/Temp
/SimpleWebXR-Demo/obj
/SimpleWebXR-Demo/devBuilds
/SimpleWebXR-Demo/Assets/~
/SimpleWebXR-Demo/Builds
/SimpleWebXR-Demo/Assets/MixedRealityToolkit.Generated
/SimpleWebXR-Demo/Logs
/SimpleWebXR-Demo/Assets/MRTK
/SimpleWebXR-Demo/Assets/MRTK.meta
/SimpleWebXR-Demo/ProjectSettings/EditorBuildSettings.asset
/SimpleWebXR-Demo/Assets/MixedRealityToolkit.Generated.meta
/SimpleWebXR-Demo/Library
/SimpleWebXR-Demo/*.vsconfig
